<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <requestedExecutionLevel level="requireAdministrator" uiAccess="false" />
  </startup>
  <appSettings>
    <add key="Version" value="4.2" />
    <add key="ProductType" value="invoicing" />
    <add key="ProductName" value="EBP OpenLine SDK Gestion Commerciale" />
    <add key="PMEId" value="68308767-3676-4d79-b57c-980b9b3125c9" />
    <add key="ProId" value="4d3b77cc-a5ef-4f06-ab3b-da965afa9a2a" />
    <add key="ClassicId" value="23d68a57-2fb4-46f2-a030-bf82d32dfcbb" />
    <add key="DevisId" value="cdf14bc1-399e-455b-859a-fb9161bf87b6" />
    <add key="PMEAIId" value="83c047b5-d2f5-4f73-84a8-d9d884cb760b" />
    <add key="ProAIId" value="49af4a21-7024-43e0-b94c-4047671b0ced" />
    <add key="ClassicAIId" value="695ab230-e985-437b-8512-891a21f9f136" />
    <add key="DevisAIId" value="289c4452-7e91-4716-b922-105ad088e449" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>